#resizeBox {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

#resizeBox {
    background-color: lightgreen;
}
